.pointbuy {
  padding: $padding;
}

.pointbuy h2{
  margin-bottom: $padding;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.ability-score-input {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  padding: 10px;
}

.ability-score-input label {
  flex: 1;
  text-align: left;
}

.score-controls {
  display: flex;
  align-items: center;
}

.score-controls button {
  width: 30px;
  height: 30px;
  text-align: center;
}

.score-controls input[type="number"] {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 0 5px;
}

.race-select, .race-name {
  font-size: $base-font-size;
  padding: 5px;
}

.custom-race-container {
  margin-top: 20px;
}

.custom-race-form .ability-score-input {
  margin-bottom: 10px;
}

.custom-race-form .score-controls {
  display: flex;
}

.points-remaining {
  grid-column: span 2;
  text-align: center;
}
