$primary-font-family: "Roboto", sans-serif;

$base-font-size: 1.2em;
$heading-font-size: 1.3em;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Base Typography
body {
    font-family: $primary-font-family;
    font-size: $base-font-size;
    color: $text-color;
  }

