$burger-color: #333;
$menu-color: white;
$hover-color: #ccc;

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;

  .bar {
    width: 30px;
    height: 3px;
    background-color: $burger-color;
    transition: transform 0.3s, opacity 0.3s;

    &.open:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    &.open:nth-child(2) {
      opacity: 0;
    }

    &.open:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  background-color: $burger-color;
  color: $menu-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;

  &.open {
    left: 0;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
  .menu-item {
    padding: 10px 0;
    text-decoration: none;
    color: $menu-color;
    font-size: 18px;

    &:hover {
      color: $hover-color;
    }
  }
}